<h2 class="header">Listing vehicles</h2>

<table class="hoverable">
  <thead>
    <tr>
      <th data-field="title">Title</th>
      <th data-field="registration-number">Registration number</th>
      <th data-field="color">Color</th>
      <th data-field="owner">Owner</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.title %></td>
        <td><%= vehicle.registration_number %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.user.nil? ? "anonymous" : vehicle.user.username %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
