<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @vehicle.title %>
</p>

<p>
  <strong>Registration number:</strong>
  <%= @vehicle.registration_number %>
</p>

<p>
  <strong>Color:</strong>
  <%= @vehicle.color %>
</p>

<%= link_to 'Edit', edit_vehicle_path(@vehicle) %> |
<%= link_to 'Back', vehicles_path %>
